.footer {
    padding: 120px 0 calc(120px - 60px) 0;
    background-color: #0f1c2a;
}

.footer-item {
    margin-bottom: 60px;
}

.footer-item h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 40px;
}

.footer-item ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-item ul li {
    margin-bottom: 20px;
}

.footer-item li a {
    color: #96a0ad;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}

.footer-item li a:hover {
    color: #fff;
}